/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        newLayer: newLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "NEWLAYER";
            bindings = <&none>;
            #binding-cells = <2>;
            hold-trigger-key-positions = <37>;
            tapping-term-ms = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E     &kp R      &kp T               &kp Y          &kp U      &kp I      &kp O    &kp P     &kp MINUS
&kp LEFT_SHIFT    &kp A  &kp S  &kp D     &kp F      &kp G               &kp H          &kp J      &kp K      &kp L    &kp SEMI  &kp BACKSLASH
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C     &kp V      &kp B               &kp N          &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                                &kp LGUI  &kp ENTER  &kp LEFT_COMMAND    &kp BACKSPACE  &kp SPACE  &kp RALT
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
